{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    {% for article in articles %}
    <div class="row">
        <div class="col-2">
          <img src="/images/articles/{{ article.id }}.jpg" alt="Lights" style="width:100%">
        </div>
        <div class="col">
            <div class="thumbnail">
                <div class="caption">
                    <a href="{{ path('showOneArticles', {id: article.id}) }}">{{ article.nom }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
