{% extends 'base.html.twig' %}

{% block title %} Blog {% endblock %}

{% block body %}

{% for art in articles %}
<!--div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="">
                </div>
        </div>
    </div>
</div-->
<!--div class="card" style="width: 18rem;"-->
<div class="card">
    <div class="card-body">
    <h5 class="card-title">{{art.nom}}</h5>
    <!--h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6-->
    <p class="card-text"><p>{{art.contenu}}</p>
    </div>
</div>
<br >
<br>
{% endfor %}
{% endblock %}
